.LogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switchButton {
    margin: 50px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Yazıları eşit aralıklı yerleştir */
    position: relative;
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden; /* Taşmaları önlemek için */
}

/* Login ve SignUp metinleri */
.login-btn ,.signup-btn {
    width: 100px;  /* Her biri 100px olacak */
    text-align: center;
    z-index: 2; /* Yazılar en üstte olacak */
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

/* Arka plan hareketi için */
.active-part {
    background-color: rgb(183, 171, 155);
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

/* Login için başlangıç konumu */
.move-left {
    transform: translateX(0);
}

/* SignUp için sağa kayma efekti */
.move-right {
    transform: translateX(90px);
}

input{
    box-sizing: border-box;
    width: 300px;
    height: auto;
    font-size: 20px;
    background-color: antiquewhite;
    border: 2px solid rgb(183, 171, 155);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
}

.Submit-Buttons{
    margin-top: 20px;
    width: 310px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(183, 171, 155);
    font-size: 20px;
    font-weight: bold;
    border: 0px;
}

.Submit-Buttons:hover{
    background-color: rgb(145, 135, 122);
}
