.LogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switchButton {
    margin: 50px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Yazıları eşit aralıklı yerleştir */
    position: relative;
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden; /* Taşmaları önlemek için */
}

/* Login ve SignUp metinleri */
.login-btn ,.signup-btn {
    width: 100px;  /* Her biri 100px olacak */
    text-align: center;
    z-index: 2; /* Yazılar en üstte olacak */
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

/* Arka plan hareketi için */
.active-part {
    background-color: aqua;
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

/* Login için başlangıç konumu */
.move-left {
    transform: translateX(0);
}

/* SignUp için sağa kayma efekti */
.move-right {
    transform: translateX(90px);
}
